@import '../../../assets/scsses/config';

.tooltip {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: white;
  border: 2px solid $grey3;
  border-radius: 4px;
}

.tooltipID {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
