{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-shadow": 0,
    "no-use-before-define": 0,
    "react/prop-types": "off",
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/prefer-default-export": 0
  }
}
