@import '../../assets/scsses/config';

#networkContainer {
  padding: 0;
  margin: 10px;
  height: 100%;
}

.filterContainer {
  display: inline-block;
  margin: 15px 0 0 15px;
}

.filter {
  display: inline-block;
  margin-right: 20px;
}

.filterTitle {
  display: inline-block;
  margin-right: 15px;
}

.filterBox {
  width: 130px;
  height: 30px;
  padding-right: 10px;
  border: 1px solid gray;
  border-radius: 4px;
}

.network {
  width: 100%;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
