@import '../../assets/scsses/config';

.container {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
}

.filter {
  display: inline-block;
  margin-right: 20px;
}

.filterTitle {
  display: inline-block;
  margin-right: 15px;
}

.filterBox {
  width: 130px;
  height: 30px;
  padding-right: 10px;
  border: 1px solid gray;
  border-radius: 4px;
}

.titleContainer {
  text-align: center;
  font-size: 37px;
  font-weight: bold;
  padding-top: 60px;
}

.statisticsContainer {
  margin-top: 50px;
}

.graphContainer {
  height: 700px;
  margin-bottom: 200px;
}

.graphTextContainer {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.paperContainer {
  margin-bottom: 100px;
}

.paperContainerTitle {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

.paperIndex {
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
}

.paperTitle {
  font-size: 18px;
  padding-right: 40px;
}

.paperCitationTitle {
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}

.paperCitation {
  font-size: 18px;
}
