@import '../../assets/scsses/config';

.achvContainer {
  width: 100%;

  .achvItemRow {
    height: 150px;

    .achvItemCol {
      text-align: center;

      .number {
        display: block;
        margin-bottom: 5px;
      }

      .description {
        font-size: 16px;
      }
    }
  }
}
