@import '../../assets/scsses/config';

.paperListItem {
  .paperTitle {
    font-weight: bold;
    font-size: 26px;
  }
  .basicInfo {
    .publishDate {
      font-weight: normal;
    }
    .authors {
      font-weight: normal;
      color: gray;
    }
  }
  .abstract {
    font-size: 18px;
  }
  .keywordContainer {
    .keyword {
      display: inline-block;
      margin-right: 10px;
      padding: 0 10px 0 10px;
      border: 1px solid black;
      border-radius: 5px;
    }
    .heightKeyword {
      display: inline-block;
      margin-right: 10px;
      padding: 0 10px 0 10px;
      border: 1px solid deepskyblue;
      border-radius: 5px;
      background: deepskyblue;
      color: white;
    }
  }
}
