[MESSAGES CONTROL]
#C0111 : Missing docstring
#C0103 : Invalid constant name
#C0301 : Line too long
#C0303 : trailing whitespace
#C0325 : Unnecessary parens after u'print' keyword
#C0415 : Import outside toplevel (%s)
#W0212 : Access to a protected member %s of a client class
#W0302 : Unable to import
#W0511 : Used when a warning note as FIXME or XXX is detected.
#W0621 : Redefining name 'something' from outer scope (line #)
#W0703 : Catching too general exception Exception
disable=C0111,C0103,C0303,C0301,C0325,C0415,W0212,W0302,W0511,W0621,W0703
load-plugins=pylint_django
