backports.csv==1.0.7
beautifulsoup4==4.9.3
blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cheroot==8.5.2
CherryPy==18.6.0
click==7.1.2
cryptography==3.4.7
cymem==2.0.5
decorator==4.4.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.0.0/en_core_web_lg-3.0.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
feedparser==6.0.2
filelock==3.0.12
future==0.18.2
idna==2.10
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
jellyfish==0.8.2
Jinja2==2.11.3
joblib==1.0.1
lxml==4.6.3
MarkupSafe==1.1.1
more-itertools==8.7.0
murmurhash==1.0.5
mysqlclient==2.0.3
networkx==2.5.1
nltk==3.6.1
numpy==1.20.2
packaging==20.9
pandas==1.2.4
pathy==0.4.0
Pattern==3.6
pdfminer.six==20201018
portend==2.7.1
preshed==3.0.5
pycparser==2.20
pydantic==1.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2021.1
pywin32==301
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.44
scikit-learn==0.24.1
scipy==1.6.2
segtok==1.5.10
sentence-transformers==1.0.4
sentencepiece==0.1.95
sgmllib3k==1.0.0
six==1.15.0
sklearn==0.0
smart-open==3.0.0
sortedcontainers==2.3.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.2
srsly==2.4.1
tabulate==0.8.9
tempora==4.0.2
thinc==8.0.2
threadpoolctl==2.1.0
tokenizers==0.10.2
torch==1.8.1
tqdm==4.60.0
transformers==4.5.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wasabi==0.8.2
yake @ git+https://github.com/LIAAD/yake@e2f67634608719f0136c9a439cbfb79fa388604a
zc.lockfile==2.0
